
/* RESET RULES*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* LAYOUT */
.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 100px;
}

.main-section {
    min-height: 300px;
}

.section {
    min-height: 350px;
    border: solid 1px;
    display: flex;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row > * {
	padding: 0 20px;
}

.col-50 {
	width: 50%;
}

.col-33 {
	width: calc(100% / 3);
    background-color: pink;
}

.col-66 {
	width: calc(2 * (100% / 3));
    background-color: cyan;
}

.col-100 {
	width: 100%;
}

.col-25 {
	width: 25%;
}

.col-20 {
	width: 20%;
}

/* HEADER */
.main-header{
    background-color: aquamarine;
    border: solid 1px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar {
    display: flex;
	align-items: center;
	justify-content: space-between;
    border: solid 1px;
    background-color: yellow;
}

.main-menu {
    display: flex;
    gap: 20px;
    border: solid 1px;
}

/* HERO */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.hero-image {
    background-color: pink;
}

/* FIRST SECTION */
.first {
    display: flex;
    align-items: center;
}

/* DEBUG RULES */ 
.container {
	border: 2px solid black;
}

.row {
	border: 2px solid red;
	padding: 16px;
}

.row > * {
	border: 2px solid cornflowerblue;
	padding: 16px;
}

.layout-2 img {
	aspect-ratio: 1 / 1.5;
}

.layout-2 .row {
	align-items: center;
} */
